<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="Enrique Coronado" />
  <title>NEP</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!--   #################### Material Icons  ################### -->
  <link rel="stylesheet" href="web/material-icons/material-design-icons.css">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>




<body>

  <div id="app">
    <v-app id="inspire" style="
        background: rgb(255, 255, 255);">


      <v-app-bar app flat dense color="white">

        <v-avatar size="35">
          <img src="images/nep.png" alt="avatar">
        </v-avatar> &nbsp; &nbsp;
        <v-toolbar-title>
          RIZE
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn href="https://enriquecoronadozu.github.io/NEP" target="_blank" text>Home <v-icon right dark>
              home
            </v-icon>
          </v-btn>
          <v-btn text color="grey darken-3" color="blue darken-1" href="https://enriquecoronadozu.github.io/NEP/start"
            target="_blank" text>API Docs <v-icon right dark>
              description</v-icon>
          </v-btn>
          <v-btn text color="grey darken-3"
            href="https://scholar.google.com/scholar?cluster=16111844774488887854&hl=es&as_sdt=2005" target="_blank"
            text>Reference NEP <v-icon right dark>school</v-icon>
          </v-btn>

        </v-toolbar-items>
        <div>&nbsp;</div>



      </v-app-bar>


      <v-content>
        </v-container>


        <v-container>

          <v-container grid-list-md text-center>


            <v-container fluid grid-list-xl>
              <v-flex xs12>
                <v-card color="white" flat>
                  <v-stepper v-model="e1">
                    <v-stepper-header>
                      <v-stepper-step :complete="e1 > 1" step="1">Problem to solve</v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step :complete="e1 > 2" step="2">Parameters</v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step step="3">Code</v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                      <v-stepper-content step="1">

                        <v-container bg fill-height grid-list-md>
                          <v-layout align-center justify-center row fill-height />
                          <v-flex xs12>
                            <v-card flat>




                              <v-container grid-list-md text-center>
                                <v-layout row wrap>
                                  <v-flex xs12 sm10 md6 order-md1 order-sm8>
                                    <v-card flat>


                                      <v-container>

                                        <p style=" color:#424242; font-size: 25px">Use Publish/Subscribe </p>


                                        <div>

                                          <v-layout align-center justify-center row fill-height>
                                            <v-img src="images/pub.png" aspect-ratio="1.8" class="grey lighten-2"
                                              max-width="400" max-height="280"></v-img>
                                          </v-layout>





                                          <p style=" color:#424242; font-size: 15px">In this pattern</p>


                                          <ul style="font-size: 15px; color:#616161; text-align: justify">
                                            <li> For sensory or perceptual data streamming </li>
                                            <li> Messages are send asynchronously without feedback </li>
                                            <li>The <b>publisher</b> send messages without stopping its execution </li>

                                          </ul>
                                        </div>
                                        <div>&nbsp;</div>
                                        <v-alert icon="mdi-arrow-right" prominent text type="info">
                                          <v-btn color="primary" @click="onUpdatePatternPS">
                                            Select this options
                                          </v-btn>
                                        </v-alert>

                                        <div>

                                          <p style="font-size: 15px; color:#616161; text-align: justify">
                                          </p>
                                        </div>
                                      </v-container>
                                    </v-card>

                                  </v-flex>
                                  <v-flex xs12 sm10 md6 order-md1 order-sm8>
                                    <v-card flat>


                                      <v-container>

                                        <p style=" color:#424242; font-size: 25px">Use Client-Server </p>

                                        <div>

                                          <v-layout align-center justify-center row fill-height>
                                            <v-img src="images/client.png" aspect-ratio="1.8" class="grey lighten-2"
                                              max-width="400" max-height="280"></v-img>
                                          </v-layout>


                                          <p style=" color:#424242; font-size: 15px">In this pattern</p>

                                          <ul style="font-size: 15px; color:#616161; text-align: justify">

                                            <li> For requesting feedback information synchronously </li>
                                            <li> The <b>server</b> waits until it receives a request of
                                              some <b>client</b></li>
                                            <li> The <b>client</b> waits until it receives some response
                                              of the <b>server</b> </li>

                                          </ul>
                                          <div>&nbsp;</div>

                                          <v-alert icon="mdi-arrow-right" prominent text type="info">
                                            </b>
                                            <v-btn color="primary" @click="onUpdatePatternCS">
                                              Select this options
                                            </v-btn>
                                          </v-alert>



                                        </div>
                                      </v-container>
                                    </v-card>
                                  </v-flex>
                                </v-layout>
                              </v-container>


                            </v-card>
                          </v-flex>
                          </v-layout>
                        </v-container>

                      </v-stepper-content>

                      <v-stepper-content step="2">

                        <v-container bg fill-height grid-list-md>
                          <v-layout align-center justify-center row fill-height />

                          <v-flex xs8>

                            <v-card flat>
                              <v-card-title>Topic</v-card-title>
                              <v-text-field outlined v-model="pub_topic_name"></v-text-field>

                            </v-card>

                          </v-flex>

                          <div v-if="sender ==='Publisher'">
                            <v-container bg fill-height grid-list-md>
                              <v-layout align-center justify-center row fill-height />
  
                              <v-flex xs12 sm4 md4 order-md1 order-sm4>
  
                                <v-card flat>
                                  <v-card-title>{{sender}} in</v-card-title>
                                  <v-select v-model=" sender_language" :items="sender_languages" outlined>
                                  </v-select>
  
                                </v-card>
  
                              </v-flex>
                              <v-flex xs12 sm4 md4 order-md1 order-sm4>
  
  
                                <v-card flat>
                                  <v-card-title>{{receiver}} in</v-card-title>
                                  <v-select v-model="receiver_language" :items="receiver_languages" outlined></v-select>
  
  
                                </v-card>
  
                              </v-flex>
                              </v-layout>
                            </v-container>
                          </div>
  


                          </v-layout>
                        </v-container>

                        <v-btn outlined @click="e1 = 1" text>Return</v-btn>




                        <v-btn color="primary" @click="onUpdate">
                          Continue
                        </v-btn>

                      </v-stepper-content>




                      <v-stepper-content step="3">
                        <v-card flat>
                          <v-container bg fill-height grid-list-md>
                            <v-layout align-center justify-center row fill-height />

                            <v-flex xs10>

                              <h2>{{sender_title}}</h2>

                              <v-spacer></v-spacer>

                              <div v-if="sender_language==='Python' && receiver_language==='Python'">
                                <v-flex xs12 v-show="use_ps">
                                  <v-toolbar-items>
                                    <v-btn text :color="zmq_c" @click="onZMQ" text>ZMQ
                                    </v-btn>
                                    <v-btn text :color="ros_c " @click="onROS" text>ROS
                                    </v-btn>
                                    <v-btn text :color="ros2_c" @click="onROS2" text>ROS 2.0
                                    </v-btn>
                                  </v-toolbar-items>
                                  <v-divider></v-divider>
                                </v-flex>
                              </div>


                              <v-card-text>
                                <pre style="text-align:left">{{code}}</pre>
                              </v-card-text>
                            </v-flex>
                            <v-flex xs10>
                              <h2>{{receiver_title}}</h2>

                              <div v-if="receiver_language==='Python'">
                                <v-flex xs12 v-show="use_ps">
                                  <v-toolbar-items>
                                    <v-btn text :color="use_listen_c" @click="onListen" text>Use listen()
                                    </v-btn>
                                    <v-btn text :color="use_callback_c" @click="onCallback" text>Use Callback
                                    </v-btn>
                                  </v-toolbar-items>
                                  <v-divider></v-divider>
                                </v-flex>
                              </div>

                              <v-card-text>
                                <pre style="text-align:left">{{code_sub}}</pre>
                              </v-card-text>





                            </v-flex>


                            </v-layout>
                          </v-container>
                        </v-card>



                        <v-btn outlined @click="e1 = 2">Return</v-btn>

                      </v-stepper-content>
                    </v-stepper-items>
                  </v-stepper>
                </v-card>
              </v-flex>







            </v-container>
      </v-content>





      <v-dialog v-model="dialog" max-width="1000px">

        <v-card>
          <v-card-title>
            <div><span style=" color:#424242; font-size: 32px"> Select type of architecture
            </div>
          </v-card-title>

          <v-container grid-list-md text-center>

            <v-layout wrap>

              <v-flex xs6>
                <v-card>

                  <v-container>

                    <p style=" color:#424242; font-size: 25px"> Using manual definitions </p>
                    <div>&nbsp;</div>

                    <p style="font-size: 15px; color:#616161; text-align: justify"> This options enables: </p>

                    <ul style="font-size: 15px; color:#616161; text-align: justify">
                      <li>The creation of simple software architectures</li>
                      <li>Connect two or more nodes that runs in different computer</li>

                    </ul>
                  </v-container>
                  <div>&nbsp;</div>
                  <v-btn outlined color="indigo" href="https://enriquecoronadozu.github.io/NEP/templates"
                    target="_blank">
                    Select</v-btn>
                  <div>&nbsp;</div>
                  <v-alert icon="mdi-alert-circle-outline" prominent text type="info">
                    Endpoints (IP and
                    ports)
                    must be
                    assigned manually</b>
                  </v-alert>

                </v-card>
              </v-flex>


              <v-flex xs6>
                <v-card>

                  <v-container>

                    <p style=" color:#424242; font-size: 25px"> Using NEP Discovery Server </p>
                    <div>&nbsp;</div>

                    <p style="font-size: 15px; color:#616161; text-align: justify"> This options enables: </p>

                    <ul style="font-size: 15px; color:#616161; text-align: justify">
                      <li>The creation of complex and scalable software architectures</li>
                      <li>Reuse code in ROS and ROS 2.0</li>
                    </ul>
                  </v-container>
                  <div>&nbsp;</div>
                  <v-btn outlined color="indigo" href="https://enriquecoronadozu.github.io/NEP/templates"
                    target="_blank">
                    Select</v-btn>
                  <div>&nbsp;</div>

                  <v-alert icon="mdi-school" prominent text type="success">
                    NEP Discovery Server assign endpoints automatically</b>
                  </v-alert>

                </v-card>
              </v-flex>
            </v-layout>

          </v-container>
        </v-card>
      </v-dialog>



    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    var vueApp = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        use_ps: true,
        dialog: false,
        dialog_template: false,
        image: "images/direct1.png",
        ip_value_pub: "127.0.0.1",
        ip_value_sub: "127.0.0.1",
        ip_disabled: false,
        port_value: "10000",
        pub_node_name: "python_sender",
        sub_node_name: "python_receiver",
        pub_topic_name: "test",
        nep_head: "import nep\nimport time\n\n",
        nep_head_sub: "import nep\n\n",
        nep_node_sub: "node = nep.node('subscriber_sample')\n",
        nep_node_pub: "node = nep.node('publisher_sample')\n",
        nep_conf: "conf = node.direct(ip = '127.0.0.1', port =  10000, mode ='one2many')\n",
        nep_pub: "pub = node.new_pub('pub_sub_test','json',conf)\n",
        nep_sub: "sub = node.new_sub('pub_sub_test','json',conf)\n",
        nep_while: "\nwhile True:\n",
        nep_your_code: "\t# Here is your code ...\n",
        nep_code: "\tmsg = {'message':'hello'}\t# An example of message\n\tpub.publish(msg)\t\t# Send message\n\ttime.sleep(1)",
        nep_code_sub: "\ts, msg = sub.listen()\t\t# Read message\n\tif s:\t\t\t\t# If there is a message\n\t\tprint(str(msg))\n\t",
        nep_direct_mode: "one2many",
        radioGroup: "1",
        sender_title: "Publisher code",
        receiver_title: "Subscriber code",
        path_matlab: "C:\\nep-matlab\\jeromq-0.4.3.jar\nC:\\nep-matlab\\gson-2.8.4.jar\nC:\\nep-matlab\\nep.jar",

        matlab_head_pub: 'import nep.node;\n% ---------------- New node ---------------\nnode = nep.node("matlab_sender");',
        matlab_head_sub: 'import nep.node;\n% ---------------- New node ---------------\nnode = nep.node("matlab_receiver");',
        matlab_pub: '\n% ------------ Define publisher -----------\npub = node.new_pub("pub_sub_test");',
        matlab_sub: '\n% ------------ Define subscriber -----------\nsub = node.new_sub("pub_sub_test");',
        matlab_listen: '\n% --------------- Read data ---------------\nwhile 1\n\tmsg = sub.listen(); % listen data\n\tif strcmp(msg,"{}") % If message is null\n\t\tpause(.001)\n\telse\t%Covert JSON to matlab structure\n\t\tvalue = jsondecode(string(msg))\n\tend\nend',
        matlab_message: "\n% ------------ Define message -----------\nmsg = struct('message','hello') \t% Messages defined as structures\njson_msg = jsonencode(msg) \t\t% Convert matlab structures to JSON",
        matlab_publish: "\n% ------------ Send message -----------\npub.publish(json_msg)",


        code: "",
        sender: "Publisher",
        receiver: "Subscriber",
        sender_language: "Python",
        sender_languages: ["Python", "Matlab"],
        receiver_language: "Python",
        receiver_languages: ["Python", "Matlab"],
        code_sub: "",
        dialog: false,
        dialog_matlab: false,
        e1: 1,
        row: "radio-1",
        items: ['Python 2', 'Python 3'],
        midleware: "ZMQ",
        listen_function: true,
        zmq_c: "primary",
        ros_c: "grey darken-3",
        ros2_c: "grey darken-3",
        use_listen_c: "primary",
        use_callback_c: "grey darken-3",

      }),

      created() {
        this.initialize()



      },

      methods: {
        initialize() {
          this.code = this.nep_head + this.nep_node + this.nep_pub + this.nep_while + this.nep_your_code + this.nep_code
          this.code_sub = this.nep_head_sub + this.nep_node + this.nep_sub + this.nep_while + this.nep_code_sub + this.nep_your_code
        },




        onUpdatePatternPS() {
          this.e1 = 2
          this.sender_title = "Publisher code"
          this.use_ps = true
          this.receiver_title = "Subscriber code"
          this.image = "images/pub.png"
          this.sender = "Publisher"
          this.receiver = "Subscriber"
          this.labelMode = "Here writes the IP the publisher"
          this.labelMode2 = "Here writes the IP the subscriber"

        },

        onUpdatePatternCS() {
          this.e1 = 2
          this.use_ps = false
          this.sender_title = "Client code"
          this.receiver_title = "Server code"
          this.image = "images/client.png"
          this.sender = "Client"
          this.receiver = "Server"
          this.labelMode = "Here writes the IP the client"
          this.labelMode2 = "Here writes the IP of the server"

        },


        onListen() {

          this.listen_function = true
          this.use_listen_c = "primary",
            this.use_callback_c = "grey darken-3",
            this.onUpdate()
        },


        onCallback() {

          this.use_listen_c = "grey darken-3",
            this.use_callback_c = "primary",
            this.listen_function = false
          this.onUpdate()
        },

        onZMQ() {

          this.zmq_c = "primary"
          this.ros_c = "grey darken-3"
          this.ros2_c = "grey darken-3"
          this.midleware = "ZMQ"
          this.onUpdate()

        },


        onROS() {

          this.zmq_c = "grey darken-3"
          this.ros_c = "primary"
          this.ros2_c = "grey darken-3"
          this.midleware = "ROS"
          this.onUpdate()

        },


        onROS2() {
          this.zmq_c = "grey darken-3"
          this.ros_c = "grey darken-3"
          this.ros2_c = "primary"
          this.midleware = "ROS2"
          this.onUpdate()
        },

        onPythonPUB() {
          if (this.midleware === "ZMQ") {
            this.nep_node_pub = "node = nep.node('" + this.pub_node_name + "')\n"
          }
          else if (this.midleware === "ROS") {
            this.nep_node_pub = "node = nep.node('" + this.pub_node_name + "', 'ROS')\n"
          }
          else if (this.midleware === "ROS2") {
            this.nep_node_pub = "node = nep.node('" + this.pub_node_name + "', 'ROS2')\n"
          }
          this.nep_pub = "pub = node.new_pub('" + this.pub_topic_name + ")\n"
          this.code = this.nep_head + this.nep_node_pub + this.nep_pub + this.nep_while + this.nep_your_code + this.nep_code
        },

        onPythonSUB() {

          if (this.midleware === "ZMQ") {
            this.nep_node_sub = "node = nep.node('" + this.sub_node_name + "')\n"
          }
          else if (this.midleware === "ROS") {
            this.nep_node_sub = "node = nep.node('" + this.sub_node_name + "', 'ROS')\n"
          }
          else if (this.midleware === "ROS2") {
            this.nep_node_sub = "node = nep.node('" + this.sub_node_name + "', 'ROS2')\n"
          }

          if (this.listen_function === true && this.midleware === "ZMQ") {
            this.nep_sub = "sub = node.new_sub('" + this.pub_topic_name + "','json')\n"
            this.code_sub = this.nep_head_sub + this.nep_node_sub + this.nep_sub + this.nep_while + this.nep_code_sub + this.nep_your_code
          }
          else if (this.listen_function === false) {

            var nep_callback = "def callback(msg):\n\tprint(msg)\n\t# Here is your code ...\n\n"
            this.nep_sub = "sub = node.new_callback('" + this.pub_topic_name + "','json', callback)\nnode.spin()\t\t# This blocks the main thread\n"
            this.code_sub = this.nep_head_sub + nep_callback + this.nep_node_sub + this.nep_sub
          }
          else {
            this.code_sub = "ROS and ROS 2.0 only can be used with callback functions"
          }
        },

        onMatlabPUB() {
          this.matlab_pub = '\n% ------------ Define publisher -----------\npub = node.new_pub("' + this.pub_topic_name + '");'
          this.code = this.matlab_head_pub + this.matlab_pub + this.matlab_message + this.matlab_publish

        },

        onMatlabSUB() {

          this.matlab_sub = '\n% ------------ Define subscriber -----------\nsub = node.new_sub("' + this.pub_topic_name + '");'
          this.code_sub = this.matlab_head_sub + this.matlab_sub + this.matlab_listen

        },



        onUpdate() {
          this.e1 = "3"





          if (this.sender === "Publisher") {

            this.sender_title = "Publisher code (" + this.sender_language + ")"
            this.receiver_title = "Subscriber code (" + this.receiver_language + ")"

            if (this.sender_language === "Matlab") {
              this.midleware = "ZMQ"
              this.onMatlabPUB()

            }


            if (this.receiver_language === "Matlab") {
              this.midleware = "ZMQ"
              this.onMatlabSUB()
            }


            if (this.sender_language === "Python") {
              this.onPythonPUB()

            }

            if (this.receiver_language === "Python") {
              this.onPythonSUB()

            }


          }

          else {


            this.sender_title = "Client code (" + this.sender_language + ")"
            this.receiver_title = "Server code (" + this.receiver_language + ")"

            this.nep_node_pub = "node = nep.node('" + this.pub_node_name + "')\n"
            this.nep_node_sub = "node = nep.node('" + this.sub_node_name + "')\n"

            this.nep_pub = "client = node.new_client('" + this.pub_topic_name + "')\n"
            this.nep_sub = "server = node.new_server('" + this.pub_topic_name + "')\n"


            let client_code = "\tmsg = {'message':'hello server'}\t# An example of request\n\tclient.send_info(msg)\t\t\t# Send request\n\tresponse = client.listen_info()\t\t# Wait and get response\n\tprint(response)\n\t# Here you process the response\n\t#\n\t#\n\ttime.sleep(1)"
            let server_code = "\trequest = server.listen_info()\t\t# Wait and read response\n\tprint (request) \n\t# Here you process the request ...\n\t#\n\t#\n\tmsg = {'message':'hello client'}\t# An example of response\n\tserver.send_info(msg)\t\t\t# Send response"
            this.code = this.nep_head + this.nep_node_pub + this.nep_pub + this.nep_while + client_code
            this.code_sub = this.nep_head_sub + this.nep_node_sub + this.nep_sub + this.nep_while + server_code

          }


        },
      }

    })
  </script>
</body>

</html>