<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="Enrique Coronado" />
  <link rel="shortcut icon" type="image/png" href="images/nep.png" />
  <title>NEP</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!--   #################### Material Icons  ################### -->
  <link rel="stylesheet" href="web/material-icons/material-design-icons.css">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>


<body>

  <div id="app">
    <v-app id="inspire" style="
        background: rgb(255, 255, 255);">


      <v-app-bar app flat dense color="white">

        <v-avatar size="35">
          <img src="images/nep.png" alt="avatar">
        </v-avatar> &nbsp; &nbsp;
        <v-toolbar-title>
          NEP
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>

          <v-btn text color="grey darken-3" color="blue darken-1" href="https://enriquecoronadozu.github.io/NEP/start"
            target="_blank" text>API Docs <v-icon right dark>
              description</v-icon>
          </v-btn>
          <v-btn @click="dialog_template = true" text color="grey darken-3" text>Code Templates <v-icon right dark>code
            </v-icon>
          </v-btn>

          <v-btn href="https://github.com/enriquecoronadozu/NEP_samples" target="_blank" text color="grey darken-3"
            text>Code Samples <v-icon right dark>mdi-folder-outline</v-icon>
          </v-btn>

          <v-btn text color="grey darken-3" href="https://www.mdpi.com/1424-8220/20/5/1500" target="_blank" text>
            Reference NEP <v-icon right dark>school</v-icon>
          </v-btn>



        </v-toolbar-items>
        <div>&nbsp;</div>


      </v-app-bar>


      <v-content>
        </v-container>


        <v-container>

          <v-container grid-list-md text-center>
            <v-layout wrap align-center justify-center>

              <v-flex xs6 md5>
                <v-card color="white" flat>
                  <div><span style=" color:#424242; font-size: 36px"> <b>N</b>od<b>e</b> <b>P</b>rimitives
                  </div>
                  <v-container>
                    <v-avatar size="75">
                      <img src="images/nep.png" alt="avatar">
                    </v-avatar>
                  </v-container>

                  <div>&nbsp;</div>
                  <div><span style="font-size: 20px; color:#616161;"><b>NEP</b> is a high-level library for building
                      robot
                      software architectures </span></div>
                  <div>&nbsp;</div>

                  <v-btn @click="dialog = true" color="blue darken-1" dark>Install NEP App</v-btn>
                  <v-btn outlined color="blue darken-1" href="https://enriquecoronadozu.github.io/NEP/start"
                    target="_blank" dark>Get Started</v-btn>





              </v-flex>

            </v-layout>

            <v-container fluid grid-list-xl>
              <v-flex xs12>
                <v-card color="white" flat>
                  &emsp;
                </v-card>
              </v-flex>



              <v-layout justify-center>
                <v-flex xs10>
                  <v-card color="white" flat>
                    <v-layout justify-center>
                      <v-flex xs4 md3>
                        <v-card flat color="white" min-width="200" max-width="300">
                          <p style="color:#1E88E5; font-size:23px">
                            Usable
                          </p>
                          <v-card-text<p style="font-size:16px;">Lightweight and easy-to-install using pip, nuget and
                            npm</p>
                            </v-card-text>
                        </v-card>
                      </v-flex>

                      <v-flex xs4 md3>
                        <v-card flat color="white" min-width="200" max-width="300">
                          <p style="color:#1E88E5; font-size:23px;">
                            Cross-platform
                          </p>
                          <v-card-text<p style="font-size:16px;">Runs in Windows (7 and above), OSX 10.x and Linux</p>
                            </v-card-text>
                        </v-card>
                      </v-flex>

                      <v-flex xs4 md3>
                        <v-card flat color="white" min-width="260" max-width="300">
                          <p style="color:#1E88E5; font-size:23px;">
                            Reusable
                          </p>
                          <v-card-text<p style="font-size:16px;">Based in ROS, ROS 2.0, ZeroMQ and nanomsg</p>
                            </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-card>
                </v-flex>
              </v-layout>

            </v-container>
            <div>&nbsp;</div>

            <v-layout justify-center>
              <v-flex xs10 md12>
                <v-card color="white" flat>
                  <v-flex xs12 md12>

                    <div><span style="font-size: 20px; color:#616161;">Install NEP for the next programming languages:
                      </span>
                    </div>
                    <div>&nbsp;</div>
                    <v-btn @click="dialog_python = true" color="blue darken-1" dark>Python</v-btn>
                    <v-btn outlined @click="onMATLAB()" color="blue darken-1" dark>MATLAB</v-btn>
                    <v-btn outlined color="blue darken-1" href="https://www.nuget.org/packages/Nep/" target="_blank"
                      dark>C#
                    </v-btn>
                    <v-btn outlined color="blue darken-1" @click="onUnity()" target="_blank"
                      dark>Unity
                    </v-btn>
             
                    <v-btn outlined color="blue darken-1" href="https://www.npmjs.com/package/nep-js" target="_blank"
                      dark>Javascript</v-btn>
                  </v-flex>
                </v-card>
              </v-flex>
            </v-layout>

            <div>&nbsp;</div>
            <div>&nbsp;</div>

            <v-layout justify-center>
              <v-flex xs10 md12>
                <v-card color="white" flat>
                  <v-flex xs12 md12>

                    <div><span style="font-size: 20px; color:#616161;"> NEP libraries:
                      </span>
                    </div>
                    <div>&nbsp;</div>
                    <v-btn href="https://enriquecoronadozu.github.io/NEP/nepsy" color="blue darken-1" dark>nepsy</v-btn>
                  </v-flex>
                </v-card>
              </v-flex>
            </v-layout>




          </v-container>
      </v-content>



      <v-dialog v-model="dialog_template" max-width="1000px">

        <v-card>
          <v-card-title>
            <div><span style=" color:#424242; font-size: 32px"> Select type of architecture
            </div>
          </v-card-title>

          <v-container grid-list-md text-center>

            <v-layout wrap>

              <v-flex xs6>
                <v-card>

                  <v-container>

                    <p style=" color:#424242; font-size: 25px"> Set sockets parameters manually </p>
                    <div>&nbsp;</div>

                    <p style="font-size: 15px; color:#616161; text-align: justify"> In this option: </p>

                    <ul style="font-size: 15px; color:#616161; text-align: justify">
                      <li>You can create simple and robust software architectures</li>
                      <li>Do not require NEP Discovery</li>

                    </ul>
                  </v-container>
                  <div>&nbsp;</div>
                  <v-btn outlined color="indigo" href="https://enriquecoronadozu.github.io/NEP/templates"
                    target="_blank">Select</v-btn>
                  <div>&nbsp;</div>
                  <v-alert icon="mdi-alert-circle-outline" prominent text type="info">
                    Endpoints (IP and
                    ports)
                    must be
                    assigned manually</b>
                  </v-alert>

                </v-card>
              </v-flex>


              <v-flex xs6>
                <v-card>

                  <v-container>

                    <p style=" color:#424242; font-size: 25px"> Sockets are defined by topics </p>
                    <div>&nbsp;</div>

                    <p style="font-size: 15px; color:#616161; text-align: justify"> In this options: </p>

                    <ul style="font-size: 15px; color:#616161; text-align: justify">
                      <li>You can create complex and scalable software architectures</li>
                      <li>NEP Discovery must be installed and always executed</li>
                    </ul>
                  </v-container>
                  <div>&nbsp;</div>
                  <v-btn outlined color="indigo" href="https://enriquecoronadozu.github.io/NEP/discovery"
                    target="_blank">Select</v-btn>
                  <div>&nbsp;</div>

                  <v-alert icon="mdi-school" prominent text type="success">
                    NEP Discovery Server assign endpoints automatically</b>
                  </v-alert>

                </v-card>
              </v-flex>
            </v-layout>

          </v-container>
        </v-card>
      </v-dialog>



      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            Install NEP App
          </v-card-title>
          <div>
            &nbsp;&nbsp;
          </div>

          <v-layout justify-center>

            <img src="images/windows.png" alt="Smiley face" height="42" width="42"> &nbsp;&nbsp;
            <v-btn color="indigo" outlined
              href="https://github.com/enriquecoronadozu/NEP/releases/download/v0.0.4-beta/Nep.Setup.0.4.0.exe"
              target="_blank" color="primary">Download for Windows</v-btn>

          </v-layout>
          <div>&nbsp;</div>
          <v-layout justify-center>
            <img src="images/mac.png" alt="Smiley face" height="42" width="42"> &nbsp;&nbsp;
            <v-btn outlined color="cyan" target="_blank"
              href="https://github.com/enriquecoronadozu/NEP/releases/download/v0.0.4-beta/Nep-0.4.0.dmg"
              color="primary">Download for Mac OSX</v-btn>

          </v-layout>

          </v-layout>
          <div>&nbsp;</div>
          <v-layout justify-center>
            <img src="images/ubuntu.png" alt="Smiley face" height="42" width="42"> &nbsp;&nbsp;
            <v-btn outlined color="green" target="_blank"
            href="https://github.com/enriquecoronadozu/NEP/releases/download/v0.0.4-beta/Nep-0.4.0.AppImage" target="_blank" color="primary">Download source code</v-btn>

          </v-layout>
          <div>
            &nbsp;&nbsp;
          </div>

          <v-card-actions>
            <v-btn color="primary" text @click="dialog = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>


      <v-dialog v-model="dialog_python" max-width="500px">
        <v-card>
          <v-card-title>
            Installation Python
          </v-card-title>
          <div>&nbsp;</div>
          <v-card-subtitle>The basic installation of NEP in Python 2 and 3 can be performed using the next command:
          </v-card-subtitle>

          <div>&nbsp;</div>
          <v-layout justify-center>

            <v-flex xs4>
              <pre> pip install -U nep</pre>
            </v-flex>
          </v-layout>
          <div>&nbsp;</div>




          </v-flex>


          </v-layout>
          <div>&nbsp;</div>

          <v-card-actions>
            <v-btn color="primary" text @click="dialog_python = false">
              Close
            </v-btn>

            <v-spacer></v-spacer>



          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialog_matlab" max-width="500px">
        <v-card>
          <v-card-title>
            Installation MATLAB:
          </v-card-title>
          <v-stepper v-model="e6" vertical>
            <v-stepper-step :complete="e6 > 1" step="1" editable>
              Download lastest release version of NEP-matlab
            </v-stepper-step>





            <v-stepper-content step="1">
              <v-layout justify-center>
                <v-flex xs10>
                  <v-btn href="https://github.com/enriquecoronadozu/NEP/releases/download/v0.0.3-beta/nep-matlab.zip"
                    target="_blank" color="primary">Download NEP-matlab.zip</v-btn>
                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-layout justify-left>

                <v-flex xs12>
                  Unzip this file which contains  <b>jeromq-0.5.2.jar</b>, <b>gson-2.8.4.jar</b> and <b>nep.jar</b> java
                  binaries.
                </v-flex>
              </v-layout>
            </v-stepper-content>



            <v-stepper-step :complete="e6 > 2" step="2" editable>
              Copy and paste java binaries
            </v-stepper-step>


            <v-stepper-content step="2">


              <v-layout justify-center>
                <v-flex xs12>


                  <v-layout justify-left>

                    <v-flex xs12>
                      We need to save the java binaries in a location where matlab can always find them. In windows we
                      recommend to create a new folder in <i>C:\nep-matlab</i>
                    </v-flex>
                  </v-layout>
                  <div>&nbsp;</div>
                  <v-layout justify-left>

                    <v-flex xs12>
                      Copy and paste the java binaries inside <b>NEP-matlab.zip</b> to <i>C:\nep-matlab</i>
                    </v-flex>
                  </v-layout>

                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-btn color="primary" @click="e6 = 3">Continue</v-btn>


            </v-stepper-content>



            <v-stepper-step editable :complete="e6 > 3" step="3"> Search/create javaclasspath.txt </v-stepper-step>

            <v-stepper-content step="3">
              <v-layout justify-center>
                <v-flex xs12>


                  <v-layout justify-left>

                    <v-flex xs12>
                      Run the command <b>prefdir</b> in MATLAB. Navigate to the folder shown in the MATLAB console and
                      check if the file <b>javaclasspath.txt</b> exist. If the <b>javaclasspath.txt</b> file is not in
                      the
                      folder,
                      then create it as a new text file
                    </v-flex>
                  </v-layout>


                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-btn color="primary" @click="e6 = 4">Continue</v-btn>
            </v-stepper-content>

            <v-stepper-step editable :complete="e6 > 4" step="4"> Edit javaclasspath.txt </v-stepper-step>

            <v-stepper-content step="4">
              <v-layout justify-center>
                <v-flex xs12>


                  <v-layout justify-left>

                    <v-flex xs12>
                      Open the file <b>javaclasspath.txt</b> with a text editor. We needed to write the full path of the
                      jar files <b>jeromq-0.5.2.jar</b>, <b>gson-2.8.4.jar</b> <b>and nep.jar</b>
                    </v-flex>
                  </v-layout>

                  <div>&nbsp;</div>
                  <v-layout justify-left>

                    <v-flex xs12>
                      If files are in <i>C:\nep-matlab</i> we need to add the next lines:
                    </v-flex>
                  </v-layout>

                  <div>&nbsp;</div>
                  <v-layout justify-left>

                    <v-flex xs12>
                      <pre>{{path_matlab}}
                      </pre>
                    </v-flex>
                  </v-layout>

                  <v-layout justify-left>

                    <v-flex xs12>
                      Save and close <b>javaclasspath.txt</b> file
                    </v-flex>
                  </v-layout>

                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-btn color="primary" @click="e6 = 5">Continue</v-btn>
            </v-stepper-content>

            <v-stepper-step editable :complete="e6 > 5" step="5"> Restart MATLAB </v-stepper-step>
            <v-stepper-content step="5">

            </v-stepper-content>




          </v-stepper>
          <v-card-actions>
            <v-btn color="primary" text @click="dialog_matlab = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>


      
      <v-dialog v-model="dialog_unity" max-width="500px">
        <v-card>
          <v-card-title>
            Installation Unity:
          </v-card-title>
          <v-stepper v-model="e6" vertical>
            <v-stepper-step :complete="e6 > 1" step="1" editable>
              Download lastest release version of NEP Unity
            </v-stepper-step>





            <v-stepper-content step="1">
              <v-layout justify-center>
                <v-flex xs10>
                  <v-btn href="https://github.com/enriquecoronadozu/NEP/releases/download/Nep-Unity/Unity.zip"
                    target="_blank" color="primary">Download Unity.zip</v-btn>
                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-layout justify-left>

                <v-flex xs12>
                  Unzip this file which contains  <b>AsyncIO.dll</b>, <b>Nep.dll</b>, <b>Newtonsoft.Json.dll</b>  and <b>NetMQ.dll</b> C#
                  binaries.
                </v-flex>
              </v-layout>
            </v-stepper-content>



            <v-stepper-step :complete="e6 > 2" step="2" editable>
              Copy and paste C# binaries in Assets folder
            </v-stepper-step>


            <v-stepper-content step="2">


              <v-layout justify-center>
                <v-flex xs12>


                  <v-layout justify-left>

                    <v-flex xs12>
                      Copy and save these C# binaries in the folder Assets of your Unity project
                    </v-flex>
                  </v-layout>
                  <div>&nbsp;</div>
                  <v-layout justify-left>

                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
            


            </v-stepper-content>




          </v-stepper>
          <v-card-actions>
            <v-btn color="primary" text @click="dialog_matlab = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>



    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({


        path_matlab: "C:\\nep-matlab\\jeromq-0.5.2.jar\nC:\\nep-matlab\\gson-2.8.4.jar\nC:\\nep-matlab\\nep.jar",
        labelMode: "Here writes the IP of the publisher",
        code: "",
        code_sub: "",
        dialog: false,
        dialog_matlab: false,
        dialog_template: false,
        dialog_python: false,
        dialog_unity:false,
        e6: 1,
        e5: 1,
        row: "radio-1",
        items: ['Python 2', 'Python 3'],
        items: [
          { title: 'Click Me' },
          { title: 'Use NEP D' },
        ],

      }),

      created() {
        this.initialize()



      },

      methods: {
        initialize() {

        },

        onUpdate() {

        },


        onUnity() {
          this.e6 = 1
          this.e5 = 1
          this.dialog_unity = true
        },


        onMATLAB() {
          this.e6 = 1
          this.e5 = 1
          this.dialog_matlab = true
        }
      }

    })
  </script>
</body>

</html>