<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="Enrique Coronado" />
  <title>NEP</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!--   #################### Material Icons  ################### -->
  <link rel="stylesheet" href="web/material-icons/material-design-icons.css">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>


<body>

  <div id="app">
    <v-app id="inspire" style="
        background: rgb(255, 255, 255);">


      <v-app-bar app dense color="white">

        <v-avatar size="35">
          <img src="images/nep.png" alt="avatar">
        </v-avatar> &nbsp; &nbsp;
        <v-toolbar-title>
          NEP
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn text color="grey darken-3" text>Docs <v-icon right dark>description</v-icon>
          </v-btn>
          <v-btn text color="grey darken-3" text>Code Templates <v-icon right dark>code</v-icon>
          </v-btn>
          <v-btn text color="grey darken-3" text>Software <v-icon right dark>get_app</v-icon>
          </v-btn>
        </v-toolbar-items>
        <div>&nbsp;</div>


      </v-app-bar>


      <v-content>
        </v-container>


        <v-container>

          <v-container grid-list-md text-center>


            <v-container fluid grid-list-xl>
              <v-flex xs12>
                <v-card color="white" flat>
                  <v-stepper v-model="e1">
                    <v-stepper-header>
                      <v-stepper-step :complete="e1 > 1" step="1">Problem to solve</v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step :complete="e1 > 2" step="2">Programming languages</v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step step="3">Communication Parameters</v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step step="4">Code</v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                      <v-stepper-content step="1">
                        <v-card flat>
                          <v-card-title>I would like:</v-card-title>


                          <v-container grid-list-md text-center>
                            <v-layout wrap>

                              <v-flex xs6>
                                <v-card flat color="white">
                                  <v-radio-group v-model="radioGroup">
                                    <v-radio label="to send messages to another process/node on the same computer"
                                      value="1">
                                    </v-radio>
                                    <v-container>
                                      <v-layout justify-center>
                                        <v-flex xs12>
                                          <v-img src="images/direct1.png" aspect-ratio="2" class="grey lighten-2"
                                            max-width="400" max-height="300"></v-img>
                                        </v-flex>
                                      </v-layout>
                                    </v-container>
                                    <v-radio label="to send messages to another process/node  in a different computer"
                                      value="2"></v-radio>
                                    <v-container>
                                      <v-layout justify-center>
                                        <v-flex xs12>
                                          <v-img src="images/direct2.png" aspect-ratio="3" class="grey lighten-2"
                                            max-width="400" max-height="300"></v-img>
                                        </v-flex>
                                      </v-layout>
                                    </v-container>
                                  </v-radio-group>
                                </v-card>
                              </v-flex>
                              <v-flex xs6>
                                <v-card flat color="white">
                                  <v-radio-group v-model="radioGroup">

                                    <v-radio
                                      label="to send messages to another process/node in the same computer and wait for a response"
                                      value="3">
                                    </v-radio>
                                    <v-container>
                                      <v-layout justify-center>
                                        <v-flex xs12>
                                          <v-img src="images/cs1.png" aspect-ratio="2" class="grey lighten-2"
                                            max-width="400" max-height="300"></v-img>
                                        </v-flex>
                                      </v-layout>
                                    </v-container>
                                    <v-radio
                                      label="to send messages to another process/node  in another computer and wait for a response"
                                      value="4"></v-radio>
                                    <v-container>
                                      <v-layout justify-center>
                                        <v-flex xs12>
                                          <v-img src="images/cs2.png" aspect-ratio="3" class="grey lighten-2"
                                            max-width="400" max-height="300"></v-img>
                                        </v-flex>
                                      </v-layout>
                                    </v-container>
                                  </v-radio-group>
                                </v-card>
                              </v-flex>

                            </v-layout>
                          </v-container>



                        </v-card>

                        <v-btn color="primary" @click="e1 = 2">
                          Continue
                        </v-btn>

                      </v-stepper-content>

                      <v-stepper-content step="2">
                        <v-card flat>



                          <v-container grid-list-md text-center>
                            <v-layout wrap>

                              <v-flex xs6>
                                <v-container>
                                  <v-layout justify-center>
                                    <v-flex xs12>
                                      <v-img src="images/cs1.png" aspect-ratio="2" class="grey lighten-2"
                                        max-width="400" max-height="300"></v-img>
                                    </v-flex>
                                  </v-layout>
                                </v-container>

                              </v-flex>

                              <v-flex xs6>
                                <v-card flat>
                                  <v-card-title>Node 2 is in</v-card-title>

                                  <v-radio-group v-model="radioGroupNode2">
                                    <v-radio label="Python" value="1">
                                    </v-radio>

                                    <v-radio label="MATLAB" value="2"></v-radio>
                                  </v-radio-group>
                                </v-card>

                                <v-card flat>
                                  <v-card-title>Node 1 is in</v-card-title>

                                  <v-radio-group v-model="radioGroupNode1">
                                    <v-radio label="Python" value="1">
                                    </v-radio>

                                    <v-radio label="MATLAB" value="2"></v-radio>
                                  </v-radio-group>
                                </v-card>

                              </v-flex>

                            </v-layout>
                          </v-container>


                        </v-card>

                        <v-btn color="primary" @click="e1 = 3">
                          Continue
                        </v-btn>

                        <v-btn @click="e1 = 1" text>Return</v-btn>
                      </v-stepper-content>

                      <v-stepper-content step="3">
                        <v-card flat>

                          <v-container grid-list-md text-center>
                            <v-layout wrap>

                              <v-flex xs6>
                                <v-card flat>
                                  <v-card-title>Option 1: I want to set the IP address and port values of nodes
                                  </v-card-title>

                                  <v-container fluid grid-list-md>
                                    <v-layout wrap>
                                      <v-flex xs6>
                                        <v-text-field v-model="ip_value" :label="labelMode"></v-text-field>
                                      </v-flex>
                                      <v-flex xs6>
                                        <v-text-field type="number" v-model="port_value" label="port"></v-text-field>
                                      </v-flex>

                                      <v-flex xs6>
                                        <v-text-field v-model="pub_topic_name" label="Topic name"></v-text-field>
                                      </v-flex>

                                      <v-radio-group v-model="radioGroup1">
                                        <v-radio label="The publisher can connect with many subscribers" value="1">
                                        </v-radio>
                                        <v-radio label="Many publishers can connect with only one subscriber" value="2">
                                        </v-radio>
                                      </v-radio-group>

                                    </v-layout>
                                  </v-container>
                                </v-card>
                              </v-flex>

                              <v-flex xs6>
                                <v-card flat>
                                  <v-card-title>Option 2: I want to use NEP Discovery Server and only set the topic name
                                  </v-card-title>

                                  <v-container fluid grid-list-md>
                                    <v-layout wrap>

                                      <v-flex xs6>
                                        <v-text-field v-model="pub_topic_name" label="Topic name"></v-text-field>
                                      </v-flex>

                                    </v-layout>
                                  </v-container>
                                </v-card>
                              </v-flex>

                            </v-layout>
                          </v-container>



                        </v-card>

                        <v-btn color="primary" @click="onUpdate">
                          Continue
                        </v-btn>

                        <v-btn @click="e1 = 2" text>Return</v-btn>
                      </v-stepper-content>

                      <v-stepper-content step="4">
                        <v-card flat>
                          <v-container grid-list-md text-center>
                            <v-layout wrap>

                              <v-flex xs6>

                                <h2>Publisher code</h2>

                                <v-card-text>
                                  <pre style="text-align:left">{{code}}</pre>
                                </v-card-text>
                              </v-flex>
                              <v-flex xs6>
                                <h2>Subscriber code</h2>

                                <v-card-text>
                                  <pre style="text-align:left">{{code_sub}}</pre>
                                </v-card-text>
                              </v-flex>
                            </v-layout>
                          </v-container>
                        </v-card>



                        <v-btn @click="e1 = 3" text>Return</v-btn>
                      </v-stepper-content>
                    </v-stepper-items>
                  </v-stepper>
                </v-card>
              </v-flex>







            </v-container>
      </v-content>

      <v-dialog v-model="dialog_template" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
          <v-toolbar dark color="primary">
            <v-btn icon dark @click="dialog = false">
              <v-icon>home</v-icon>
            </v-btn>
            <v-toolbar-title>Examples</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark text @click="dialog = false">Save</v-btn>
            </v-toolbar-items>
          </v-toolbar>
          <v-list three-line subheader>
            <v-subheader>User Controls</v-subheader>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Content filtering</v-list-item-title>
                <v-list-item-subtitle>Set the content filtering level to restrict apps that can be downloaded
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Password</v-list-item-title>
                <v-list-item-subtitle>Require password for purchase or use password to restrict purchase
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-divider></v-divider>
          <v-list three-line subheader>
            <v-subheader>General</v-subheader>
            <v-list-item>
              <v-list-item-action>
                <v-checkbox v-model="notifications"></v-checkbox>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Notifications</v-list-item-title>
                <v-list-item-subtitle>Notify me about updates to apps or games that I downloaded</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-action>
                <v-checkbox v-model="sound"></v-checkbox>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Sound</v-list-item-title>
                <v-list-item-subtitle>Auto-update apps at any time. Data charges may apply</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-action>
                <v-checkbox v-model="widgets"></v-checkbox>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Auto-add widgets</v-list-item-title>
                <v-list-item-subtitle>Automatically add home screen widgets</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-dialog>





      <v-footer color="teal" app>
        <v-spacer></v-spacer>
        <span class="white--text">&copy; 2019</span>
      </v-footer>

      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            Installation:
          </v-card-title>
          <v-stepper v-model="e6" vertical>
            <v-stepper-step :complete="e6 > 1" step="1" editable>
              If you use Python 2 run in a terminal
            </v-stepper-step>

            <v-stepper-content step="1">


              <v-layout justify-center>
                <v-flex xs12>


                  <v-tabs vertical>
                    <v-tab>

                      Windows
                    </v-tab>
                    <v-tab>

                      OSX/Linux
                    </v-tab>


                    <v-tab-item>
                      <v-card flat>
                        <v-card-text>
                          <p style="color:black;">
                            py -2 -m pip install -U nep <br>
                            py -2 -m pip install -U trollius <br>
                            py -2 -m pip install -U tornado
                          </p>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>
                    <v-tab-item>
                      <v-card flat>
                        <v-card-text>
                          <p style="color:black;">
                            python2 -m pip install -U nep <br>
                            python2 -m pip install -U trollius <br>
                            python2 -m pip install -U tornado
                          </p>

                        </v-card-text>
                      </v-card>
                    </v-tab-item>

                  </v-tabs>
                </v-flex>
              </v-layout>
              <v-btn color="primary" @click="e6 = 2">Continue</v-btn>


            </v-stepper-content>



            <v-stepper-step :complete="e6 > 2" step="2" editable>
              If you use Python 3 run in a terminal
            </v-stepper-step>


            <v-stepper-content step="2">


              <v-layout justify-center>
                <v-flex xs12>


                  <v-tabs vertical>
                    <v-tab>

                      Windows
                    </v-tab>
                    <v-tab>

                      OSX/Linux
                    </v-tab>


                    <v-tab-item>
                      <v-card flat>
                        <v-card-text>
                          <p style="color:black;">
                            py -3 -m pip install -U nep <br>
                            py -3 -m pip install -U trollius <br>
                            py -3 -m pip install -U tornado
                          </p>
                        </v-card-text>
                      </v-card>
                    </v-tab-item>
                    <v-tab-item>
                      <v-card flat>
                        <v-card-text>
                          <p style="color:black;">
                            python3 -m pip install -U nep <br>
                            python3 -m pip install -U trollius <br>
                            python3 -m pip install -U tornado
                          </p>

                        </v-card-text>
                      </v-card>
                    </v-tab-item>

                  </v-tabs>
                </v-flex>
              </v-layout>
              <v-btn color="primary" @click="e6 = 3">Continue</v-btn>


            </v-stepper-content>



            <v-stepper-step editable :complete="e6 > 3" step="3"> NEP Discovery Server (Recomended) </v-stepper-step>

            <v-stepper-content step="3">
              <v-layout justify-center>

                <v-btn href="https://github.com/enriquecoronadozu/NEP/releases/download/v0.2-alpha/Nep.Setup.0.2.0.exe"
                  target="_blank" color="primary">Install Windows</v-btn>

              </v-layout>
              <div>&nbsp;</div>
              <v-layout justify-center>

                <v-btn outlined
                  href="https://github.com/enriquecoronadozu/NEP/releases/download/v0.2-alpha/Nep.Setup.0.2.0.exe"
                  target="_blank" color="primary">Install OSX</v-btn>

              </v-layout>

              </v-layout>
              <div>&nbsp;</div>
              <v-layout justify-center>

                <v-btn outlined
                  href="https://github.com/enriquecoronadozu/NEP/releases/download/v0.2-alpha/Nep.Setup.0.2.0.exe"
                  target="_blank" color="primary">Install Linux</v-btn>

              </v-layout>
            </v-stepper-content>






          </v-stepper>
          <v-card-actions>
            <v-btn color="primary" text @click="dialog = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialog_matlab" max-width="500px">
        <v-card>
          <v-card-title>
            Installation MATLAB:
          </v-card-title>
          <v-stepper v-model="e6" vertical>
            <v-stepper-step :complete="e6 > 1" step="1" editable>
              Download lastest release version of NEP-matlab
            </v-stepper-step>


            <v-stepper-content step="1">
              <v-layout justify-center>
                <v-flex xs10>
                  <v-btn href="https://github.com/enriquecoronadozu/NEP/releases/download/v0.0.1-alpha/nep-matlab.zip"
                    target="_blank" color="primary">Download NEP-matlab.zip</v-btn>
                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-layout justify-left>

                <v-flex xs12>
                  Unzip this file which contain <b>jeromq-0.4.3.jar</b>, <b>gson-2.8.4.jar</b> and <b>nep.jar</b> java
                  binaries.
                </v-flex>
              </v-layout>
            </v-stepper-content>



            <v-stepper-step :complete="e6 > 2" step="2" editable>
              Copy and paste java binaries
            </v-stepper-step>


            <v-stepper-content step="2">


              <v-layout justify-center>
                <v-flex xs12>


                  <v-layout justify-left>

                    <v-flex xs12>
                      We need to save the java binaries in some locations where matlab can always find it. In windows we
                      recommend to create a new folder in <i>C:\nep-matlab</i>
                    </v-flex>
                  </v-layout>
                  <div>&nbsp;</div>
                  <v-layout justify-left>

                    <v-flex xs12>
                      Copy and paste the java binaries inside <b>NEP-matlab.zip</b> to <i>C:\nep-matlab</i>
                    </v-flex>
                  </v-layout>

                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-btn color="primary" @click="e6 = 3">Continue</v-btn>


            </v-stepper-content>



            <v-stepper-step editable :complete="e6 > 3" step="3"> Search/create javaclasspath.txt </v-stepper-step>

            <v-stepper-content step="3">
              <v-layout justify-center>
                <v-flex xs12>


                  <v-layout justify-left>

                    <v-flex xs12>
                      Run the command <b>prefdir</b> in MATLAB. Navigate to the folder shown in the MATLAB console and
                      check is a file <b>javaclasspath.txt</b> exist. If the <b>javaclasspath.txt</b> file is not in the
                      folder,
                      then create it as a new text file
                    </v-flex>
                  </v-layout>
                  <div>&nbsp;</div>
                  <v-layout justify-left>

                    <v-flex xs12>
                      Copy and paste the java binaries inside <b>NEP-matlab.zip</b> to <i>C:\nep-matlab</i>
                    </v-flex>
                  </v-layout>

                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-btn color="primary" @click="e6 = 4">Continue</v-btn>
            </v-stepper-content>

            <v-stepper-step editable :complete="e6 > 4" step="4"> Edit javaclasspath.txt </v-stepper-step>

            <v-stepper-content step="4">
              <v-layout justify-center>
                <v-flex xs12>


                  <v-layout justify-left>

                    <v-flex xs12>
                      Open the file <b>javaclasspath.txt</b> with a text editor. It is needed to write the full path of
                      the jar files <b>jeromq-0.4.3.jar</b>, <b>gson-2.8.4.jar</b> <b>and nep.jar</b> described this
                      file.
                    </v-flex>
                  </v-layout>
                  <div>&nbsp;</div>
                  <v-layout justify-left>

                    <v-flex xs12>
                      Copy and paste the java binaries inside <b>NEP-matlab.zip</b> to <i>C:\nep-matlab</i>
                    </v-flex>
                  </v-layout>
                  <div>&nbsp;</div>
                  <v-layout justify-left>

                    <v-flex xs12>
                      If files are in <i>C:\nep-matlab</i> we need to add the next lines:
                    </v-flex>
                  </v-layout>

                  <div>&nbsp;</div>
                  <v-layout justify-left>

                    <v-flex xs12>
                      <pre>{{path_matlab}}
                      </pre>
                    </v-flex>
                  </v-layout>

                  <v-layout justify-left>

                    <v-flex xs12>
                      Save and close <b>javaclasspath.txt</b> file
                    </v-flex>
                  </v-layout>

                </v-flex>
              </v-layout>
              <div>&nbsp;</div>
              <v-btn color="primary" @click="e6 = 5">Continue</v-btn>
            </v-stepper-content>

            <v-stepper-step editable :complete="e6 > 5" step="5"> Restart MATLAB </v-stepper-step>
            <v-stepper-content step="5">

            </v-stepper-content>




          </v-stepper>
          <v-card-actions>
            <v-btn color="primary" text @click="dialog_matlab = false">
              Close
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    var vueApp = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        dialog_template: false,
        ip_value: "127.0.0.1",
        port_value: "10000",
        pub_node_name: "publisher",
        pub_topic_name: "test",
        nep_head: "import nep\nimport time\n\n",
        nep_head_sub: "import nep\n\n",
        nep_node: "node = nep.node('publisher_sample')\n",
        nep_conf: "conf = node.direct(ip = '127.0.0.1', port =  10000, mode ='one2many')\n",
        nep_pub: "pub = node.new_pub('pub_sub_test','json',conf)\n",
        nep_sub: "sub = node.new_sub('pub_sub_test','json',conf)\n",
        nep_while: "\nwhile True:\n",
        nep_your_code: "\t# Here is your code ...\n",
        nep_code: "\tmsg = {'message':'hello'}\t#An example of message\n\tpub.publish(msg)\t\t#Send message\n\ttime.sleep(1)",
        nep_code_sub: "\ts, msg = sub.listen()\t\t#Read message\n\tif s:\t\t\t\t#If there is a message\n\t\tprint(str(msg))\n\t",
        nep_direct_mode: "one2many",
        radioGroup: "1",
        radioGroup1: "1",
        path_matlab: "C:\\nep-matlab\\jeromq-0.4.3.jar\nC:\\nep-matlab\\gson-2.8.4.jar\nC:\\nep-matlab\\nep.jar",
        labelMode: "Here writes the IP of the publisher",
        code: "",
        radioGroupNode1: "1",
        radioGroupNode2: "1",
        code_sub: "",
        dialog: false,
        dialog_matlab: false,
        e1: 1,
        row: "radio-1",
        items: ['Python 2', 'Python 3'],


      }),

      created() {
        this.initialize()



      },

      methods: {
        initialize() {
          this.code = this.nep_head + this.nep_node + this.nep_conf + this.nep_pub + this.nep_while + this.nep_your_code + this.nep_code
          this.code_sub = this.nep_head_sub + this.nep_node + this.nep_conf + this.nep_sub + this.nep_while + this.nep_code_sub + this.nep_your_code
        },

        onUpdate() {
          this.e1 = "4"
          if (this.radioGroup1 === "1") {
            this.nep_direct_mode = "one2many"
            this.labelMode = "Here writes the IP of node 1 (sender)"
          }
          else {
            this.nep_direct_mode = "many2one"
            this.labelMode = "Here writes the IP of node 2 (receiver)"
          }


          if (this.radioGroup === "2") {
            this.nep_conf = ""
            this.nep_pub = "pub = node.new_pub('" + this.pub_topic_name + ",'json')\n"
            this.nep_sub = "sub = node.new_sub('" + this.pub_topic_name + ",'json')\n"
          }
          else {
            this.nep_conf = "conf = node.direct(ip = " + "'" + this.ip_value + "'" + ", port =  " + this.port_value + ", mode ='" + this.nep_direct_mode + "')\n"
            this.nep_pub = "pub = node.new_pub('" + this.pub_topic_name + ",'json',conf)\n"
            this.nep_sub = "sub = node.new_sub('" + this.pub_topic_name + ",'json',conf)\n"
          }

          this.nep_node = "node = nep.node('" + this.pub_node_name + "')\n",
            this.code = this.nep_head + this.nep_node + this.nep_conf + this.nep_pub + this.nep_while + this.nep_your_code + this.nep_code
          this.code_sub = this.nep_head_sub + this.nep_node + this.nep_conf + this.nep_sub + this.nep_while + this.nep_code_sub + this.nep_your_code
        },
      }

    })
  </script>
</body>

</html>