<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="author" content="Enrique Coronado" />
  <title>NEP</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!--   #################### Material Icons  ################### -->
  <link rel="stylesheet" href="web/material-icons/material-design-icons.css">
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>


<body>

  <div id="app">
    <v-app id="inspire" style="
        background: rgb(255, 255, 255);">


      <v-app-bar app dense color="white">

        <v-avatar size="35">
          <img src="images/nep.png" alt="avatar">
        </v-avatar> &nbsp; &nbsp;
        <v-toolbar-title>
          NEP
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-toolbar-items>
          <v-btn text color="grey darken-3" text>Docs <v-icon right dark>description</v-icon>
          </v-btn>
          <v-btn text color="grey darken-3" text>Code Templates <v-icon right dark>code</v-icon>
          </v-btn>
          <v-btn text color="grey darken-3" text>Software <v-icon right dark>get_app</v-icon>
          </v-btn>
        </v-toolbar-items>
        <div>&nbsp;</div>


      </v-app-bar>


      <v-content>
        </v-container>


        <v-container>

          <v-container grid-list-md text-center>


            <v-container fluid grid-list-xl>
              <v-flex xs12>
                <v-card color="white" flat>
                  <v-stepper v-model="e1">
                    <v-stepper-header>
                      <v-stepper-step :complete="e1 > 1" step="1">Problem to solve</v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step :complete="e1 > 2" step="2">Programming languages</v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step step="3">Communication Parameters</v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step step="4">Code</v-stepper-step>
                    </v-stepper-header>

                    <v-stepper-items>
                      <v-stepper-content step="1">
                        <v-container bg fill-height grid-list-md>
                          <v-layout align-center justify-center row fill-height />
                          <v-flex xs10>
                            <v-card flat>
                              <v-card-title>I would like:</v-card-title>


                              <v-container grid-list-md text-center>
                                <v-layout wrap>

                                  <v-flex xs6>
                                    <v-card flat color="white">
                                      <v-radio-group v-model="radioGroup">
                                        <v-radio label="to send messages to another process/node on the same computer"
                                          value="1">
                                        </v-radio>
                                        <v-container>
                                          <v-layout justify-center>
                                            <v-flex xs12>
                                              <v-img src="images/direct1.png" aspect-ratio="2" class="grey lighten-2"
                                                max-width="400" max-height="300"></v-img>
                                            </v-flex>
                                          </v-layout>
                                        </v-container>
                                        <v-radio
                                          label="to send messages to another process/node  in a different computer"
                                          value="2"></v-radio>
                                        <v-container>
                                          <v-layout justify-center>
                                            <v-flex xs12>
                                              <v-img src="images/direct2.png" aspect-ratio="3" class="grey lighten-2"
                                                max-width="400" max-height="300"></v-img>
                                            </v-flex>
                                          </v-layout>
                                        </v-container>
                                      </v-radio-group>
                                    </v-card>
                                  </v-flex>
                                  <v-flex xs6>
                                    <v-card flat color="white">
                                      <v-radio-group v-model="radioGroup">

                                        <v-radio
                                          label="to send messages to another process/node in the same computer and wait for a response"
                                          value="3">
                                        </v-radio>
                                        <v-container>
                                          <v-layout justify-center>
                                            <v-flex xs12>
                                              <v-img src="images/cs1.png" aspect-ratio="2" class="grey lighten-2"
                                                max-width="400" max-height="300"></v-img>
                                            </v-flex>
                                          </v-layout>
                                        </v-container>
                                        <v-radio
                                          label="to send messages to another process/node  in another computer and wait for a response"
                                          value="4"></v-radio>
                                        <v-container>
                                          <v-layout justify-center>
                                            <v-flex xs12>
                                              <v-img src="images/cs2.png" aspect-ratio="3" class="grey lighten-2"
                                                max-width="400" max-height="300"></v-img>
                                            </v-flex>
                                          </v-layout>
                                        </v-container>
                                      </v-radio-group>
                                    </v-card>
                                  </v-flex>

                                </v-layout>
                              </v-container>



                            </v-card>
                          </v-flex>
                          </v-layout>
                        </v-container>

                        <v-btn color="primary" @click="onUpdateMode">
                          Continue
                        </v-btn>

                      </v-stepper-content>

                      <v-stepper-content step="2">

                        <v-container bg fill-height grid-list-md>
                          <v-layout align-center justify-center row fill-height />
                          <v-flex xs4>
                            <v-card flat max-width="400">
                              <v-img :src="image" aspect-ratio="2" class="grey lighten-2"></v-img>
                            </v-card>
                          </v-flex>
                          <v-flex xs2>

                            <v-card flat>
                              <v-card-title>Node 1 is in</v-card-title>

                              <v-radio-group v-model="radioGroupNode2">
                                <v-radio label="Python" value="1">
                                </v-radio>

                                <v-radio label="MATLAB" value="2"></v-radio>
                              </v-radio-group>
                            </v-card>

                          </v-flex>
                          <v-flex xs2>



                            <v-card flat>
                              <v-card-title>Node 2 is in</v-card-title>

                              <v-radio-group v-model="radioGroupNode1">
                                <v-radio label="Python" value="1">
                                </v-radio>

                                <v-radio label="MATLAB" value="2"></v-radio>
                              </v-radio-group>
                            </v-card>



                          </v-flex>
                          </v-layout>
                        </v-container>



                        <v-btn color="primary" @click="e1 = 3">
                          Continue
                        </v-btn>

                        <v-btn outlined @click="e1 = 1" text>Return</v-btn>
                      </v-stepper-content>

                      <v-stepper-content step="3">
                        <v-card flat>

                          <v-container bg fill-height grid-list-md>
                            <v-layout align-center justify-center row fill-height />

                            <v-flex xs8>
                              <v-card flat>
                                <v-card-title>
                                  <p style=" color:#424242; font-size: 20px"> Set endpoint </p>
                                </v-card-title>

                                <v-container fluid grid-list-md>
                                  <v-layout wrap>
                                    <v-flex xs6>
                                      <v-text-field :disabled="ip_disabled" v-model="ip_value_pub" :label="labelMode">
                                      </v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                      <v-text-field :disabled="ip_disabled" v-model="ip_value_sub" :label="labelMode2">
                                      </v-text-field>
                                    </v-flex>
                                    <v-flex xs6>
                                      <v-text-field type="number" v-model="port_value" label="port"></v-text-field>
                                    </v-flex>

                                  </v-layout>
                                </v-container>

                                <v-container fluid grid-list-md>
                                  <v-layout wrap>

                                    <v-card-title>
                                      <p style=" color:#424242; font-size: 20px"> Set topic </p>
                                    </v-card-title>

                                    <v-flex xs12>
                                      <v-text-field v-model="pub_topic_name" label="Topic name"></v-text-field>
                                    </v-flex>

                                  </v-layout>
                                </v-container>


                                <v-container fluid grid-list-md>
                                  <v-layout wrap>
                                    <v-card-title>
                                      <p style=" color:#424242; font-size: 20px"> Select mode </p>
                                    </v-card-title>

                                    <v-flex xs12>

                                      <v-radio-group v-model="radioGroup1">
                                        <v-radio label="Only one publisher can connect with many subscribers" value="1">
                                        </v-radio>

                                      </v-radio-group>
                                      <v-card flat max-width="400">
                                        <v-img src="images/mode2.png" aspect-ratio="3" class="grey lighten-2"></v-img>
                                      </v-card>
                                    </v-flex>

                                    <v-flex xs12>
                                      <v-radio-group v-model="radioGroup1">
                                        <v-radio label="Many publishers can connect with only one subscriber" value="2">
                                        </v-radio>

                                      </v-radio-group>
                                      <v-card flat max-width="400">
                                        <v-img src="images/mode1.png" aspect-ratio="3" class="grey lighten-2"></v-img>
                                      </v-card>
                                    </v-flex>

                                  </v-layout>
                                </v-container>
                              </v-card>
                            </v-flex>



                            </v-layout>
                          </v-container>



                        </v-card>

                        <v-btn color="primary" @click="onUpdate">
                          Continue
                        </v-btn>

                        <v-btn outlined @click="e1 = 2" text>Return</v-btn>
                      </v-stepper-content>

                      <v-stepper-content step="4">
                        <v-card flat>
                          <v-container bg fill-height grid-list-md>
                            <v-layout align-center justify-center row fill-height />

                            <v-flex xs8>

                              <h2>Publisher code</h2>

                              <v-card-text>
                                <pre style="text-align:left">{{code}}</pre>
                              </v-card-text>
                            </v-flex>
                            <v-flex xs8>
                              <h2>Subscriber code</h2>

                              <v-card-text>
                                <pre style="text-align:left">{{code_sub}}</pre>
                              </v-card-text>
                            </v-flex>
                            </v-layout>
                          </v-container>
                        </v-card>



                        <v-btn outlined @click="e1 = 3" text>Return</v-btn>
                      </v-stepper-content>
                    </v-stepper-items>
                  </v-stepper>
                </v-card>
              </v-flex>







            </v-container>
      </v-content>



      <v-footer color="teal" app>
        <v-spacer></v-spacer>
        <span class="white--text">&copy; 2019</span>
      </v-footer>




    </v-app>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

  <script>
    var vueApp = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ({
        dialog_template: false,
        image: "/images/direct1.png",
        ip_value_pub: "127.0.0.1",
        ip_value_sub: "127.0.0.1",
        ip_disabled: false,
        port_value: "10000",
        pub_node_name: "sender",
        sub_node_name: "receiver",
        pub_topic_name: "test",
        nep_head: "import nep\nimport time\n\n",
        nep_head_sub: "import nep\n\n",
        nep_node_sub: "node = nep.node('subscriber_sample')\n",
        nep_node_pub: "node = nep.node('publisher_sample')\n",
        nep_conf: "conf = node.direct(ip = '127.0.0.1', port =  10000, mode ='one2many')\n",
        nep_pub: "pub = node.new_pub('pub_sub_test','json',conf)\n",
        nep_sub: "sub = node.new_sub('pub_sub_test','json',conf)\n",
        nep_while: "\nwhile True:\n",
        nep_your_code: "\t# Here is your code ...\n",
        nep_code: "\tmsg = {'message':'hello'}\t#An example of message\n\tpub.publish(msg)\t\t#Send message\n\ttime.sleep(1)",
        nep_code_sub: "\ts, msg = sub.listen()\t\t#Read message\n\tif s:\t\t\t\t#If there is a message\n\t\tprint(str(msg))\n\t",
        nep_direct_mode: "one2many",
        radioGroup: "1",
        radioGroup1: "1",
        path_matlab: "C:\\nep-matlab\\jeromq-0.4.3.jar\nC:\\nep-matlab\\gson-2.8.4.jar\nC:\\nep-matlab\\nep.jar",
        labelMode: "Here writes the IP of node 1 (sender)",
        labelMode2: "Here writes the IP of node 2 (receiver)",
        code: "",
        radioGroupNode1: "1",
        radioGroupNode2: "1",
        code_sub: "",
        dialog: false,
        dialog_matlab: false,
        e1: 1,
        row: "radio-1",
        items: ['Python 2', 'Python 3'],


      }),

      created() {
        this.initialize()



      },

      methods: {
        initialize() {
          this.code = this.nep_head + this.nep_node + this.nep_conf + this.nep_pub + this.nep_while + this.nep_your_code + this.nep_code
          this.code_sub = this.nep_head_sub + this.nep_node + this.nep_conf + this.nep_sub + this.nep_while + this.nep_code_sub + this.nep_your_code
        },

        onUpdateMode() {
          this.e1 = 2
          if (this.radioGroup === "1") {
            this.image = "/images/direct1.png"
            this.ip_value_pub = "127.0.0.1"
            this.ip_value_sub = "127.0.0.1"
            this.ip_disabled = true

          }
          if (this.radioGroup === "2") {
            this.image = "/images/direct2.png"
            this.ip_value_pub = "192.168.0.100"
            this.ip_value_sub = "192.168.0.101"
            this.ip_disabled = false


          }
          if (this.radioGroup === "3") {

            this.image = "/images/cs1.png"
            this.ip_value_pub = "127.0.0.1"
            this.ip_value_sub = "127.0.0.1"
            this.ip_disabled = true
          }
          if (this.radioGroup === "4") {

            this.image = "/images/cs2.png"
            this.ip_value_pub = "192.168.0.100"
            this.ip_value_sub = "192.168.0.101"
            this.ip_disabled = false
          }
        },

        onUpdate() {
          this.e1 = "4"
          if (this.radioGroup1 === "1") {
            this.nep_direct_mode = "one2many"
            this.nep_conf = "conf = node.direct(ip = " + "'" + this.ip_value_pub + "'" + ", port =  " + this.port_value + ", mode ='" + this.nep_direct_mode + "')\n"


          }
          else {
            this.nep_direct_mode = "many2one"
            this.nep_conf = "conf = node.direct(ip = " + "'" + this.ip_value_sub + "'" + ", port =  " + this.port_value + ", mode ='" + this.nep_direct_mode + "')\n"

          }




          this.nep_pub = "pub = node.new_pub('" + this.pub_topic_name + "','json',conf)\n"
          this.nep_sub = "sub = node.new_sub('" + this.pub_topic_name + "','json',conf)\n"


          this.nep_node_pub = "node = nep.node('" + this.pub_node_name + "')\n"
          this.nep_node_sub = "node = nep.node('" + this.sub_node_name + "')\n"
          this.code = this.nep_head + this.nep_node_pub + this.nep_conf + this.nep_pub + this.nep_while + this.nep_your_code + this.nep_code
          this.code_sub = this.nep_head_sub + this.nep_node_sub + this.nep_conf + this.nep_sub + this.nep_while + this.nep_code_sub + this.nep_your_code
        },
      }

    })
  </script>
</body>

</html>